.plot-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    z-index: 3;
    background-color: var(--control_ui-color);
    padding: 10px;
    border: 1px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #282c34;
}

.plot-class {
    width: 90%;
    height: 90%;
    margin-left: 5%;
}

@media (max-width: 480px) {
    .plot-div {
        width: 99%;
    }
    .plot-class {
        width: 95%;
    }
}