.container {
  text-align: center;
  display: contents;
}

.progress-bar {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.progress-margin{
  margin-bottom: 10px;
}

.text-label:hover{
  cursor: pointer;
  opacity: 0.6;
}

.bat-percentage{
  font-size: 1.2em;
}

.bat-percentage:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 480px) {
  .progress-bar {
    width: 200px;
    height: 200px;
  }
}
